<%= form_for @event do |f|%>
  <div class="input-group mb-3">
    <%= f.text_field :date, class: 'form-control'%>
    <%= f.submit 'Submit' %>
  </div>
<% end %>
<div><%= link_to '<- Назад', :back %></div>